body {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 150px;
    padding: 20px 40px;
    border-radius: 4px;
    background-color: turquoise;
    border: solid transparent;
}

button:not(:first-child) {
    margin-left: 20px;
}
